{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %}
{% block content%}
<div class="container ">

  <div class="row col-xs-6 text-justify">
    {% for p in filo %}
  


 
   <div class="container">
  <div class="row">
    <div class="col-xs-12 text-justify">
    {{ p.filosofiaasociacion }}
    
    <div class="col-xs-12 text-center">
        <img  src="{{ p.imagen.url }}" alt="imagenfilosofia"> 
    </div>
  </div>
  </div>
</div>
<div class="content-text">
  <div class="col desA text-justify mt-3">
    <h3 style="color: #0067B1;">{{ p.titulomision }}</h3>{{ p.mision }}
  </div>
  <div class="col desA text-justify  mt-3">
    <h3 style="color:#0067B1;">{{ p.titulovision}}</h3>{{ p.vision}}
  </div>
  <div class="col desA text-justify  mt-3 mb-5">
    <h3 style="color:#0067B1;">{{ p.titulovalores}}</h3>{{ p.valores }}
  </div>
</div>

  {% endfor %}
  </div>
</div>

{% endblock content%}