{% extends 'app/index.html' %} {% load static %} {% load bootstrap4 %} 
{% block content%}


   <div class="row">
        {% for p in tall %} {% autoescape off %}
       
            <div class="col-md-6 col-xs-12 mb-5">
              
      <h2 class="post-title titletrat mt-5"style="color: #0067B1;"> {{ p.titulo }}</h2>


                      <p class="card-text letraTarje text-justify">{{ p.taller }}</p><br>
           
            </div> 
            
              <div class="col-md-6 col-xs-12 mb-5">

                      {% if p.imagentalleres %}
    <img src="{{ p.imagentalleres.url }}">
{% endif %}

            </div>
            
          
            
         
               {% endautoescape %}
  {% endfor %}


    
{% endblock content%}
<br>